<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  {{style('bootstrap.min')}}
  {{style('font-awesome')}}
  {{style('style')}}
  {{style('clean-blog.min')}}
</head>
<body style="background:white">


  @!include('inc/navbar')
  
  <header class="masthead">
    <div class="overlay homeLoad"></div>
    <div class="container">
      <div class="row">
       <div class="col-lg-4 col-md-6 mx-auto">
         
          <div class="post-heading post-title">
            <h1>Hello,</h1>
            <span class="subheading">Welcome to Blog Man</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto">
          <h2>Latest Post</h2>
          <p>
          @each(post in posts)
          <div class="blogpost">
          <div class="titles">
          
          <a href = "/posts/{{ post.id }}">{{post.title}}</a></div>
          <div class="data">{{post.desc}}
          <p style="margin-top: 10px; margin-bottom: 10px; text-align: right">{{post.created_at}}|by: {{post.userinfo.username}}
          </div>
          </div>
          @endeach
      </div>
    </div>
  </div></article><br><br>
</body>
<script src="{{ assetsUrl('jquery.js') }}">
<script src="{{ assetsUrl('bootstrap.min.js') }}">
<script src="{{ assetsUrl('clean-blog.js') }}">
</html>