<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
</head>
<body>
  Register:<p/>
  <a href="{{route('register')}}">'⚠ <-- Click me</a><p/>
  Login:<p/>
  <a href="{{route('login')}}">♻ <-- Click me</a>
</body>
</html>
