<!DOCTYPE html>
<html>
<head>
	<title>New Posts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
</head>
  {{style('bootstrap.min')}}
  {{style('font-awesome')}}
  {{style('style')}}
  {{style('clean-blog.min')}}
<body class="postwp">
	
	@!include('inc/navbar')

	<div class="overlay">
		<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-7 mx-auto">
			<div class="post-heading">
			<form class="addpost" action='{{route('myposts')}}' method="POST">
			{{ csrfField() }}
				<h2 style="color: white">Create Post</h2>
				<input type="text" class="inTitle" name="in_title" placeholder="the title">
				<p style="margin-top:16px;">
				<textarea name="in_desc" rows="9" class="inDesc inTitle" placeholder="tell your story here..."></textarea>
			<br>
			<button class="publish">Publish</button>
			</form>
			</div>
			</div>
		</div>
		</div></div>
	</header>

</body>
<script src="{{ assetsUrl('jquery.js') }}">
<script src="{{ assetsUrl('bootstrap.min.js') }}">
<script src="{{ assetsUrl('clean-blog.js') }}">

</html>